@import "./vars.css";
@import "./reset.css";

@font-face {
  font-family: "Syncopate";
  src: url(./../fonts/syncopate-bold-cyr.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Actay";
  font-weight: 400;
  src: url(./../fonts/actay-regular.ttf);
}

/* Aos(необходимо дабы можно было использовать задержку больше стандартных 3с */

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Actay";
  font-weight: 400;
  line-height: 130%;

  font-family: "Actay";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;

  color: var(--color-text-1);
  background-color: var(--color-body-bg);
}
.lower-case-name {
  text-transform: lowercase;
}
.wrapper {
  overflow: hidden;
}
body.body-lock {
  overflow: hidden;
}

.textarea::-webkit-scrollbar {
  width: 0;
  height: 0;
}
/* Global */
.container {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  position: relative;

  text-decoration: none;
  font-family: "Actay";
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0;

  color: var(--color-text-1);

  -webkit-transition: all, 0.3s;

  -o-transition: all, 0.3s;

  -moz-transition: all, 0.3s;

  transition: all, 0.3s;
}
.link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-accent-2);
  opacity: 0;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
}
.link:hover::after {
  opacity: 1;
}

/* Btns */
.default-btn,
.download-btn {
  font-family: "Actay";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-decoration: none;
  letter-spacing: 0;

  -webkit-transition: all, 0.3s;

  -o-transition: all, 0.3s;

  -moz-transition: all, 0.3s;

  transition: all, 0.3s;
}
.default-btn {
  display: inline-block;
  padding: 12px 40px;
  -webkit-border-radius: var(--border-radius-big);
     -moz-border-radius: var(--border-radius-big);
          border-radius: var(--border-radius-big);

  color: var(--color-text-1);
  background-color: var(--color-accent-1);
}
.download-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  -webkit-box-sizing: border-box;

     -moz-box-sizing: border-box;

          box-sizing: border-box;
  padding: 16px 37px;
  -webkit-border-radius: var(--border-radius-card);
     -moz-border-radius: var(--border-radius-card);
          border-radius: var(--border-radius-card);
  border: 1px solid var(--color-text-2);

  color: var(--color-text-2);
}
.download-btn:active {
  color: var(--color-accent-1);
}
.download-btn:active svg {
  fill: var(--color-accent-1);
}
.download-btn:hover svg {
  fill: var(--color-accent-1);
}
.download-btn__icon {
  margin-left: 5px;
}
.download-btn__icon svg {
  fill: var(--color-text-3);

  -webkit-transition: all, 0.3s;

  -o-transition: all, 0.3s;

  -moz-transition: all, 0.3s;

  transition: all, 0.3s;
}
.btn-big {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 36px 45px;
  -webkit-border-radius: var(--border-radius-card);
     -moz-border-radius: var(--border-radius-card);
          border-radius: var(--border-radius-card);
  border: 1px solid var(--color-text-1);

  font-family: "Syncopate";
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0;

  color: var(--color-main-text);
  background-color: var(--color-accent-1);
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
}
.default-btn:hover,
.btn-big:hover {
  background-color: var(--color-accent-2);
}
.default-btn:active,
.btn-big:active {
  color: var(--color-text-2);
  background-color: var(--color-accent-2);
}
.default-btn:disabled {
  opacity: 0.7;
  cursor: pointer;
}
.default-btn:disabled:hover {
  background-color: var(--color-accent-1);
}
.default-btn:disabled:active {
  color: var(--color-text-1);
  background-color: var(--color-accent-1);
}

.btn-accent {
  display: inline-block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 17px 42px;
  -webkit-border-radius: var(--border-radius-card);
     -moz-border-radius: var(--border-radius-card);
          border-radius: var(--border-radius-card);

  font-family: "Actay";
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-decoration: none;
  letter-spacing: 0;

  color: var(--color-text-2);

  -webkit-transform: rotate(-2deg);

     -moz-transform: rotate(-2deg);

      -ms-transform: rotate(-2deg);

       -o-transform: rotate(-2deg);

          transform: rotate(-2deg);

  background-color: var(--color-accent-2);

  -webkit-transition: all, 0.3s;

  -o-transition: all, 0.3s;

  -moz-transition: all, 0.3s;

  transition: all, 0.3s;
}
.btn-accent:hover {
  -webkit-animation: hover 0.7s linear;
     -moz-animation: hover 0.7s linear;
       -o-animation: hover 0.7s linear;
          animation: hover 0.7s linear;
}
@-webkit-keyframes hover {
	0% {
		-webkit-transform: rotate(-2deg);
		        transform: rotate(-2deg);
	}
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
	100% {
		-webkit-transform: rotate(-2deg);
		        transform: rotate(-2deg);
	}
}
@-moz-keyframes hover {
	0% {
		-moz-transform: rotate(-2deg);
		     transform: rotate(-2deg);
	}
  50% {
    -moz-transform: rotate(0deg);
         transform: rotate(0deg);
  }
	100% {
		-moz-transform: rotate(-2deg);
		     transform: rotate(-2deg);
	}
}
@-o-keyframes hover {
	0% {
		-o-transform: rotate(-2deg);
		   transform: rotate(-2deg);
	}
  50% {
    -o-transform: rotate(0deg);
       transform: rotate(0deg);
  }
	100% {
		-o-transform: rotate(-2deg);
		   transform: rotate(-2deg);
	}
}
@keyframes hover {
	0% {
		-webkit-transform: rotate(-2deg);
		   -moz-transform: rotate(-2deg);
		     -o-transform: rotate(-2deg);
		        transform: rotate(-2deg);
	}
  50% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
	100% {
		-webkit-transform: rotate(-2deg);
		   -moz-transform: rotate(-2deg);
		     -o-transform: rotate(-2deg);
		        transform: rotate(-2deg);
	}
}
/* Titles */

.title--1 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 700;
  font-family: "Syncopate";
  line-height: 130%;
  letter-spacing: -0.02em;
}
.title--2 {
  font-family: "Syncopate";
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;

  letter-spacing: -0.02em;

  color: var(--color-text-1);
}
.title--3 {
  letter-spacing: -0.01em;

  line-height: 130%;
  font-family: "Syncopate";
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}
.title--4 {
  font-family: "Actay";
  font-weight: 400;
  font-size: 25px;
  line-height: 110%;
  letter-spacing: 0;
}

/* List */
.list-check {
  list-style: none;
}

.list-check__item {
  position: relative;
  padding-left: 28px;
}
.list-check__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(./../images/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
}
.list-check__item:not(:last-child) {
  margin-bottom: 20px;
}

.list {
  padding-left: 15px;
}
.list-item {
  position: relative;
  padding-left: 15px;
}
.list-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;

  background-color: var(--color-text-4);
}
.list-item:not(:last-child) {
  margin-bottom: 20px;
}

/* Card */
.card {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 20px;
  -webkit-border-radius: var(--border-radius-card);
     -moz-border-radius: var(--border-radius-card);
          border-radius: var(--border-radius-card);

  color: var(--color-text-2);
  background-color: var(--color-text-1);
}
.card-border {
  padding: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid var(--color-text-1);
  -webkit-border-radius: var(--border-radius-card);
     -moz-border-radius: var(--border-radius-card);
          border-radius: var(--border-radius-card);
  color: var(--color-text-1);
}
/* Slider Arrows */
.slider-arrows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.slider-arrow--prev,
.slider-arrow--next {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: var(--border-radius-card);
     -moz-border-radius: var(--border-radius-card);
          border-radius: var(--border-radius-card);

  background-color: var(--color-accent-1);
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
}
.slider-arrow--prev::after,
.slider-arrow--next::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 22px;
  width: 19px;
  background-position: center center;
  background-repeat: no-repeat;
}
.slider-arrow--prev::after {
  background-image: url(./../images/icons/arrow-prev.svg);
}
.slider-arrow--next::after {
  background-image: url(./../images/icons/arrow-next.svg);
}
.slider-arrow--prev.swiper-button-disabled,
.slider-arrow--next.swiper-button-disabled {
  opacity: 0.5;
}

/* Slider pagination */
.slider-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  margin: 0 20px;
}
.slider-pagination.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 5px;
}
.slider-pagination.slider-pagination--fraction {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;

  font-family: "Syncopate";
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;

  letter-spacing: 0;

  color: var(--color-text-1);
  background-color: transparent;

  -webkit-transition: all, 0.3s;

  -o-transition: all, 0.3s;

  -moz-transition: all, 0.3s;

  transition: all, 0.3s;
}
.slider-pagination .swiper-pagination-bullet {
  display: block;
  height: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin: 0 10px;

  font-family: "Syncopate";
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;

  letter-spacing: -0.02em;

  color: var(--color-text-1);
  background-color: transparent;

  -webkit-transition: all, 0.3s;

  -o-transition: all, 0.3s;

  -moz-transition: all, 0.3s;

  transition: all, 0.3s;
}
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Form */
.input,
.textarea {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 20px;
  border: 1px solid var(--color-text-2);
  -webkit-border-radius: var(--border-radius-card);
     -moz-border-radius: var(--border-radius-card);
          border-radius: var(--border-radius-card);

  font-family: "Actay";
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;

  color: rgba(0, 0, 0, 0.6);
  background-color: var(--color-text-1);
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
}
.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.input:-moz-placeholder, .textarea:-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.input::-moz-placeholder, .textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.input::-ms-input-placeholder, .textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.input::placeholder,
.textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.input:focus-visible,
.textarea:focus-visible {
  outline: 0px solid var(--color-accent-1);
  border-color: var(--color-accent-1);
}
.textarea {
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* Прячу стрелки у input type number */
  -webkit-appearance: none;
  margin: 0;
}

.input-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.input-checkbox-custom {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  border: 1px solid var(--color-text-2);

  background-color: transparent;
  cursor: pointer;
}
.input-checkbox-custom::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  width: 12px;
  height: 12px;

  background-image: url(./../images/icons/checkbox.svg);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
          background-size: 100% 100%;
  background-position: center center;

  -webkit-transition: all, 0.3s;

  -o-transition: all, 0.3s;

  -moz-transition: all, 0.3s;

  transition: all, 0.3s;
  opacity: 0;
}
.input-checkbox:checked + .input-checkbox-custom::before {
  opacity: 1;
}

input[type="submit"] {
  cursor: pointer;
  border: none;
}
/* Decor */
.decor-item {
  position: absolute;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.decor-item img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
/* Media */
@media (max-width: 1300px) {
  .btn-big {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .title--1 {
    font-size: 60px;
  }
  .title--2 {
    font-size: 40px;
  }
  .title--3 {
    font-size: 20px;
  }
  .title--4 {
    font-size: 20px;
  }
  .btn-big {
    font-size: 16px;
  }
  .btn-accent {
    padding: 9px 30px;
    font-size: 14px;
  }
  .default-btn {
    font-size: 16px;
    padding: 15px;
  }
  .download-btn {
    padding: 16px;
    font-size: 16px;
    line-height: 98%;
  }
  .link {
    font-size: 16px;
  }

  .list-item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  .slider-arrow--prev,
  .slider-arrow--next {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  .slider-arrow--prev::after,
  .slider-arrow--next::after {
    width: 20px;
    height: 14px;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100% 100%;
            background-size: 100% 100%;
  }

  .btn-accent {
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }

  .title--1 {
    font-size: 40px;
  }

  .title--2 {
    font-size: 34px;
  }

  .title--3 {
    font-size: 18px;
  }
  .title--4 {
    font-size: 18px;
  }

  .list-check__item {
    padding-left: 20px;
  }
  .list-check__item::after {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 460px) {
  .container {
    max-width: 320px;
    padding: 0 10px;
  }

  .title--2 {
    font-size: 26px;
  }
  .title--3 {
    font-size: 16px;
  }
  .title--4 {
    font-size: 16px;
  }
}
