:root {
  --color-body-bg: #444345;

  --color-text-1: #fff;
  --color-text-2: #000;
  --color-text-3: #4c4b4d;

  --color-accent-1: #f47220;
  --color-accent-2: #74d7f6;

  --border-radius-1: 16px;
  --border-radius-big: 100px;
  --border-radius-card: 12px;
}
