.about-company__inner {
  margin-bottom: 90px;
  position: relative;
  z-index: 5;
}
.about-company__title {
  margin-bottom: 56px;
}
.about-company__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 21px;
}

.about-company__subtitle {
  font-family: "Syncopate";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;

  letter-spacing: -0.01em;

  color: var(--color-text-2);
}
.about-company__team {
  max-width: 630px;
  box-sizing: border-box;
}
.about-company__team,
.about-company__clients,
.about-company__where {
  padding: 50px;
}

.about-company__clients,
.about-company__where {
  color: var(--color-text-1);
  background-color: var(--color-accent-1);
}
.about-company__clients .about-company__subtitle,
.about-company__where .about-company__subtitle {
  margin-bottom: 20px;
  color: var(--color-text-1);
}
/* Team */
.about-company__team-subtitle {
  margin-bottom: 22px;
}
.about-company__team-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  margin: 0 auto 55px auto;
}
.about-company__team-item span {
  display: inline-block;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 50px;

  white-space: nowrap;
  line-height: 98%;

  color: var(--color-text-1);
  background-color: var(--color-accent-1);
}
.about-company__team-item:nth-child(1) {
  grid-area: 1 / 5 / 2 / 13;
}
.about-company__team-item:nth-child(2) {
  grid-area: 2 / 1 / 3 / 5;
  transform: translateY(-45%);
}
.about-company__team-item:nth-child(3) {
  grid-area: 2 / 6 / 3 / 11;
  transform: translateX(-7%);
}
.about-company__team-item:nth-child(4) {
  grid-area: 3 / 2 / 4 / 12;
  transform: translateX(-4%);
}
.about-company__team-item:nth-child(5) {
  grid-area: 4 / 7 / 5 / 12;
  transform: translateX(-29%);
}
.about-company__team-item:nth-child(6) {
  grid-area: 5 / 1 / 6 / 5;
  transform: translateY(-71%);
}
.about-company__team-item:nth-child(7) {
  grid-area: 5 / 6 / 6 / 12;
  transform: translateX(-13%);
}
.about-company__team-item:nth-child(8) {
  grid-area: 6 / 1 / 7 / 9;
}

.about-company__founder {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-gap: 20px;
}
.about-company__founder-img-wrapper {
  max-width: 259px;
  max-height: 376px;
  margin-left: -72px;
  overflow: hidden;
  border-radius: var(--border-radius-card);
}
.about-company__founder-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.about-company__founder-name {
  margin-bottom: 18px;
  letter-spacing: -0.01em;
}

.about-company__founder-paragraph {
  line-height: 130%;
}
.about-company__founder-paragraph:not(:last-child) {
  margin-bottom: 8px;
}
/* Clients */
.about-company__clients {
  margin-bottom: 18px;
}

.about-company__clients-list {
  display: grid;
  grid-template-columns: minmax(151px, 1fr) minmax(165px, 1fr) minmax(
      206px,
      1fr
    );
  grid-gap: 4px;
}
.about-company__clients-item {
  padding: 20px;
  /* width: 151px;
  height: 106px; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  font-family: "Actay";
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;

  color: var(--color-text-1);

  transition: all, 0.6s;

  cursor: pointer;
}
.about-company__clients-item:hover {
  color: var(--color-text-2);
  background-color: var(--color-text-1);
}
/* where */

.about-company__where-item-title {
  margin-bottom: 11px;
}
.about-company__where-item-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

/* Tabs*/
.about-company__tabs {
  display: none;
}
/* Decor */
.about-company__decor {
  position: absolute;
  z-index: 0;
}
.about-company__decor--1 {
  top: 32%;
  left: -31%;
}

.about-company__decor--2 {
  top: 9%;
  right: -20%;
}
.about-company__decor--3 {
  bottom: -7%;
  right: 38%;
}

@media (max-width: 1300px) {
  .about-company__team,
  .about-company__clients,
  .about-company__where {
    padding: 40px 32px;
  }
}
@media (max-width: 1200px) {
  .about-company__tabs {
    display: block;
  }
}
