.advantages {
}
.advantages__inner {
  margin-bottom: 70px;
}
.advantages__title {
  margin-bottom: 40px;
}
.advantages__title--accent {
  display: block;
  margin-left: 100px;
}
.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.advantages__item {
}
.advantages__item-text {
  position: relative;
  padding-left: 50px;
}
.advantages__item-text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.advantages__item-text--accent {
  color: var(--color-accent-1);
}
