.advantages__inner {
  position: relative;
  z-index: 5;
  margin-bottom: 101px;
}
.advantages__title {
  line-height: 100%;
  margin-bottom: 63px;
}
.advantages__title--accent {
  display: block;
  margin-top: -0.1em;
  letter-spacing: 0.02em;
  margin-left: 4em;
}
.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.advantages__item {
  padding: 50px 35px 50px 45px;
  box-sizing: border-box;
}
.advantages__item-text {
  position: relative;
  padding-left: 80px;

  line-height: 130%;

  color: var(--color-text-2);
}
.advantages__item-text::after {
  content: "";
  position: absolute;
  left: 8%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 50px;
  height: 54px;

  background-image: url(./../../images/icons/advantages-1.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.advantages__item:nth-child(2) .advantages__item-text::after {
  background-image: url(./../../images/icons/advantages-2.svg);
}
.advantages__item:nth-child(3) .advantages__item-text::after {
  background-image: url(./../../images/icons/advantages-3.svg);
}
.advantages__item-text--accent {
  color: var(--color-accent-1);
}

/* Decor */
.advantages__decor {
  position: absolute;
  z-index: 0;
}
.advantages__decor--1 {
  top: -49%;
  right: -10%;
}
