.articles__inner {
  position: relative;
  z-index: 5;
  margin-bottom: 153px;
}
.articles__title {
  line-height: 102%;
  margin-bottom: 0.63em;
}
.articles__title--accent {
  margin-left: 1.6em;
}
.articles__list {
  margin-bottom: 40px;
}
.articles__item {
  padding: 40px 30px;
}
.articles__item-time {
  display: block;
  text-align: right;
  margin-left: auto;
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0;
}
.articles__item-paragraph {
  line-height: 130%;
  margin-right: -10px;
  margin-bottom: 35px;
}

.articles__slider-navigation {
  justify-content: center;
}
.slider-pagination.articles__slider-pagination {
  display: flex;
  width: fit-content;
}

/* Decor */
.articles__decor {
  position: absolute;
  z-index: 0;
}
.articles__decor--1 {
  top: -7%;
  left: 14%;
}
.articles__decor--2 {
  top: 29%;
  right: -26%;
}
.articles__decor--3 {
  bottom: -9%;
  left: -32%;
}
