.footer {
  color: var(--color-text-1);
}
.footer__inner {
  position: relative;
  z-index: 5;
  margin-bottom: 100px;
}

.footer__top {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 0.8fr 0.2fr;
  grid-gap: 10px;
  margin-bottom: 40px;
}
.footer__box:nth-child(3) {
  display: flex;
  flex-direction: column;
}

.footer__box:nth-child(4) {
  margin-left: 34px;
}
.footer__logo {
  display: block;
  margin-bottom: 61px;
  max-width: 240px;
}
.footer__logo img {
  width: 100%;
  height: 100%;
}
.footer__paragraph {
  max-width: 263px;
  line-height: 130%;
  letter-spacing: 0;

  font-size: 18px;

  color: rgba(255, 255, 255, 0.8);
}
.footer__subtitle {
  margin-bottom: 14px;
}
.footer__item {
  width: 100%;
}
.footer__item:not(:last-child) {
  margin-bottom: 5px;
}
.footer__link {
  display: block;
  box-sizing: border-box;
  padding: 5px 5px 5px 0;
}
.footer__link--confidentiality {
  margin-top: auto;
}
.footer__link::after {
  content: none;
}
.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 15px;
}
.footer__social-item {
  margin-bottom: 11px;
}
.footer__social-item:last-child {
  margin-bottom: 31px;
}
.footer__social-item a {
  display: block;
}
.footer__social-item svg {
  fill: var(--color-text-1);
  transition: all, 0.3s;
}
.footer__social-item:hover svg {
  fill: var(--color-accent-1);
}
.footer__social-item--facebook rect {
  fill: none;
}
.footer__social-item--facebook rect {
  stroke: var(--color-text-1);
  transition: all, 0.3s;
}
.footer__social-item--facebook:hover rect {
  stroke: var(--color-accent-1);
}

.footer__social-arrow-to-up {
  margin-top: 21px;
}
.footer__social-arrow-to-up svg {
  fill: var(--color-accent-1);

  transition: all, 0.3s;
}
.footer__social-arrow-to-up:hover svg {
  fill: var(--color-accent-2);
}

.footer__bottom {
  max-width: 635px;
  margin: 0 auto;

  text-align: center;
  font-family: "Actay";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;

  text-align: center;

  color: rgba(255, 255, 255, 0.5);
}
/* Mob */
.footer__mob-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.footer__mobile {
  display: none;
  max-width: 500px;
  margin: 0 auto;
}
.footer__nav {
}
/* Decor */
.footer__decor {
  position: absolute;
  z-index: 0;
}
.footer__decor--1 {
  top: -108%;
  left: 30%;
}
.footer__decor--2 {
  left: -10%;
  top: -40%;
}

@media (max-width: 950px) {
  .footer__top {
    grid-template-columns: 1.2fr 1fr 1fr 0.4fr 0.1fr;
    grid-gap: 15px;
  }
  .footer__social {
    margin-left: 0;
  }
  .footer__box:nth-child(4) {
    margin-left: 0;
  }
  .footer__link {
    font-size: 16px;
    padding: 3px 0;
  }
  .footer__subtitle {
    font-size: 18px;
  }
  .footer__paragraph {
    font-size: 14px;
  }
}
@media (max-width: 810px) {
  .footer__desktop {
    display: none;
  }
  .footer__mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer__logo {
    margin-bottom: 0;
    max-width: 180px;
    min-width: 149px;
    margin-right: 20px;
  }
  .footer__paragraph:nth-child(1) {
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
  }
  .footer__box--contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 18px;
  }
  .footer__social {
    flex-direction: row;
    margin-bottom: 11px;
  }
  .footer__social-item {
    margin-right: 16px;

    margin-bottom: 0;
  }
  .footer__contact {
    margin-bottom: 10px;
  }
  .footer__social-item svg {
    width: 25px;
    height: 25px;
  }
  .footer__social-item:nth-child(2) {
    margin-bottom: 0;
  }
  .footer__partner .footer__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
  }
  .footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
  }
  .footer__item {
    width: auto;
    margin: 1px 12px;
  }
  .footer__mob-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__mob-cop {
    max-width: 260px;
    margin-right: auto;

    font-family: "Actay";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;

    color: rgba(255, 255, 255, 0.5);
  }
  .footer__social-arrow-to-up {
    margin-top: 0;
  }
  .footer__social-arrow-to-up svg {
    height: 43px;
  }
}
@media (max-width: 600px) {
  .footer__box--contact {
    margin-bottom: 15px;
  }
  .footer__mob-top {
    margin-bottom: 24px;
  }
  .footer__box--contact {
    grid-template-columns: 1fr 0.6fr;
  }
  .footer__social {
    margin-bottom: 3px;
  }
  .footer__logo {
    margin-right: 10px;
  }
  .footer__paragraph {
    font-size: 10px;
  }
  .footer__mob-top .footer__paragraph {
    margin-right: -15px;
  }
  .footer__link {
    font-size: 14px;
  }
}
