.gallery__inner {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  /* grid-template-rows: repeat(40, 1fr); */

  margin-bottom: 124px;
}

.gallery__item:nth-child(1) {
  grid-area: 1 / 1 / 17 / 18;
}
.gallery__item:nth-child(2) {
  grid-area: 1 / 20 / 6 / 37;
}
.gallery__item:nth-child(3) {
  grid-area: 1 / 39 / 7 / 51;
}
.gallery__item:nth-child(4) {
  margin-top: -14%;
  grid-area: 7 / 21 / 24 / 38;
}
.gallery__item:nth-child(5) {
  grid-area: 21 / 3 / 35 / 20;
}
.gallery__item:nth-child(6) {
  margin-top: -5%;
  grid-area: 20 / 41 / 26 / 51;
}
.gallery__item:nth-child(7) {
  margin-top: -30%;
  grid-area: 30 / 23 / 29 / 40;
}
.gallery__img {
  width: 100%;
  display: block;
}

/* Decor */
.gallery__decor {
  position: absolute;
  z-index: 0;
}
.gallery__decor--1 {
  top: 9%;
  left: -27%;
}
.gallery__decor--2 {
  top: -3%;
  right: -6%;
}
.gallery__decor--3 {
  bottom: -52%;
  right: -8%;
}
