.individual-solution__inner {
  position: relative;
  z-index: 5;
  padding: 64px 110px 60px 110px;
  margin-bottom: 100px;
  border-radius: var(--border-radius-1);
  border: 2px solid var(--color-accent-1);

  background-color: var(--color-text-1);
}

.individual-solution__text {
  line-height: 130%;
  letter-spacing: -0.01em;
  line-height: 110%;

  color: rgba(76, 75, 77, 0.7);
}
.individual-solution__text--1 {
  margin-bottom: 1.5em;
}
.individual-solution__text--2 {
  text-align: left;
  width: fit-content;
  margin-left: auto;

  margin-bottom: 1em;
}
.individual-solution__text--3 {
  margin-left: 28%;
  margin-bottom: 2em;
}
.individual-solution__text--accent {
  display: inline-block;
  color: var(--color-accent-2);
}

.individual-solution__title {
  margin-bottom: 22px;

  font-family: "Syncopate";
  font-size: 40px;
  line-height: 110%;

  letter-spacing: -0.01em;

  color: var(--color-text-2);
}
.individual-solution__btn {
  padding: 22px;
  border: 2px solid var(--color-text-4);
  max-width: 345px;
  width: 100%;
  text-align: center;
}

/* Decor */
.individual-solution__decor {
  position: absolute;
  z-index: 0;
}
.individual-solution__decor--1 {
  top: -39%;
  left: 18%;
}
.individual-solution__decor--2 {
  bottom: -35%;
  right: 0%;
}
.individual-solution__decor--3 {
  bottom: -35%;
  left: 14%;
}

@media (max-width: 1140px) {
  .individual-solution__inner {
    padding: 40px 60px;
  }
  .individual-solution__title {
    font-size: 30px;
  }
}
@media (max-width: 800px) {
  .individual-solution__inner {
    padding: 40px 22px;
    margin-bottom: 96px;
  }
  .individual-solution__title {
    font-size: 25px;
  }
  .individual-solution__btn {
    padding: 16px;
    max-width: 300px;
  }
}
@media (max-width: 600px) {
  .individual-solution__title {
    font-size: 18px;
    line-height: 130%;
  }
  .individual-solution__btn {
    font-size: 14px;
    max-width: 270px;
  }

  /* Decor */
  .individual-solution__decor--1 {
    top: -42%;
    left: -67%;
  }
  .individual-solution__decor--2 {
    bottom: -40%;
    right: -75%;
  }
  .individual-solution__decor--3 {
    bottom: -17%;
    max-width: 200px;
    left: -25%;
  }
}
@media (max-width: 460px) {
  .individual-solution__text {
    font-size: 14px;
    line-height: 128%;
  }
  .individual-solution__text--1 {
    margin-bottom: 1.33em;
  }
  .individual-solution__text--2 {
    margin-left: auto;
    max-width: 58%;
  }
  .individual-solution__text--3 {
    margin-left: 0;
  }

  .individual-solution__title {
    font-size: 14px;
    margin-bottom: 1em;
  }
  .individual-solution__title span {
    display: block;
    margin-left: 1.3em;
  }
  .individual-solution__title .lower-case-name {
    margin-left: 0;
    display: inline;
  }
  .individual-solution__title br {
    display: none;
  }
}
