.services__inner {
  margin-bottom: 50px;
}
.services__top {
  display: flex;
  align-items: center;
  flex-direction: row;

  margin-bottom: 30px;
}
.services__title {
  position: relative;
}

.services__line {
  width: 100%;
  height: 1px;
  background-color: var(--color-accent-2);
}

.services__box {
  display: grid;
  grid-template-columns: 1fr 0.0001fr;
}
.services__list {
  position: relative;
}

.services__accordion {
  display: flex;
}
.services__accordion-btn {
  padding: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  width: 100%;

  text-align: center;
  font-size: 18px;

  color: var(--color-text-2);
  background-color: var(--color-text-1);

  transition: all, 0.3s;
}
.services__accordion-content {
  position: absolute;
  max-width: 300px;
  right: 0;
  top: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 20px;
  will-change: max-height;
  transition: all 0.3s ease-out;
  box-sizing: content-box;
}
.services__bg-item {
  transition: all 0.3s ease-out;
  box-sizing: content-box;
}
.services__accordion--open .services__accordion-content {
  opacity: 1;
  background-color: blue;
}
.services__accordion--open .services__accordion-btn {
  color: var(--color-text-1);
  background-color: var(--color-accent-1);
}
