.turnkey-solutions__inner {
  margin-bottom: 140px;
  position: relative;
  z-index: 5;
}
.turnkey-solutions__title {
  margin-bottom: 10px;
  line-height: 100%;
}
.turnkey-solutions__title--accent {
  display: block;
  margin-left: 1.2em;
}
.turnkey-solutions__contact-link {
  margin-bottom: 45px;
  margin-left: 10px;
}

/* Slider */

.turnkey-solutions__list {
  margin-bottom: 10px;
  padding: 30px 0;
}

.turnkey-solutions__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  padding: 49px 32px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 540px;
}
.turnkey-solutions__item-name {
  margin-bottom: 20px;
  margin-right: -15px;

  letter-spacing: 0;
  text-transform: uppercase;
  font-family: "Actay";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;

  color: var(--color-text-3);
}
.turnkey-solutions__item-title {
  margin-bottom: 8px;

  text-transform: uppercase;
  font-family: "Syncopate";
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;

  letter-spacing: -0.01em;

  color: var(--color-text-2);
}
.turnkey-solutions__item-paragraph {
  margin-bottom: auto;

  font-family: "Actay";
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}
.turnkey-solutions__item-duration {
  margin-top: auto;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 100%;
  margin-bottom: 8px;
}

.turnkey-solutions__item-price {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 100%;
}

.turnkey-solutions__item-buy {
  margin-bottom: 8px;
  display: block;
  text-align: center;
  padding: 14px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 226px;
  width: 100%;
  -webkit-border-radius: var(--border-radius-card);
     -moz-border-radius: var(--border-radius-card);
          border-radius: var(--border-radius-card);
}
.turnkey-solutions__item-download {
  max-width: 226px;
  width: 100%;
  -webkit-border-radius: var(--border-radius-card);
     -moz-border-radius: var(--border-radius-card);
          border-radius: var(--border-radius-card);
}

.turnkey-solutions__slider-arrows {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.turnkey-solutions__slider-arrow--prev {
  margin-right: 15px;
}

.turnkey-solutions__slider-arrows .slider-pagination--fraction {
  display: none;
}
/* Decor */
.turnkey-solutions__decor {
  position: absolute;
  z-index: 0;
}
.turnkey-solutions__decor--1 {
  top: -23%;
  left: -11%;
}

.turnkey-solutions__decor--2 {
  bottom: -8%;
  left: -6%;
}
.turnkey-solutions__decor--3 {
  bottom: -55%;
  right: -14%;
}

@media (max-width: 800px) {
  .turnkey-solutions__inner {
    margin-bottom: 96px;
  }
  .turnkey-solutions__item {
    padding: 49px 30px;
    min-height: 360px;
  }
  .turnkey-solutions__list .swiper-slide {
    height: auto !important;
  }
  .spacer {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .turnkey-solutions__list .swiper-slide > div {
    height: 100%;
  }
  .turnkey-solutions__item-name {
    margin-bottom: 16px;
    font-size: 14px;
  }
  .turnkey-solutions__item-title {
    font-family: "Actay";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    text-transform: none;

    color: var(--color-text-2);
  }
  .turnkey-solutions__item-duration {
    font-size: 14px;
    margin-bottom: 0;
  }
  .turnkey-solutions__item-price {
    font-size: 14px;
  }
  .turnkey-solutions__item-paragraph {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .turnkey-solutions__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16px;
  }
  .turnkey-solutions__item-price {
    margin-bottom: 0;
  }
  .turnkey-solutions__item-buy {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
       -moz-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    margin-bottom: 0;
    max-width: 100%;
  }
  .turnkey-solutions__item-download {
    margin-bottom: 8px;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .turnkey-solutions__list {
    padding: 30px 0 0 0;
    margin-bottom: 20px;
  }
  .turnkey-solutions__contact-link {
    margin-bottom: 0;
    -webkit-transform: rotate(2deg);
       -moz-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
         -o-transform: rotate(2deg);
            transform: rotate(2deg);
    margin-left: 0;
  }
  .turnkey-solutions__slider-arrow--prev {
    margin-right: 0;
  }
  .turnkey-solutions__slider-arrows {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .turnkey-solutions__slider-arrows .slider-pagination--fraction {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }

  .turnkey-solutions__decor--1 {
    top: 29%;
    left: -71%;
  }
  .turnkey-solutions__decor--2 {
    bottom: 76%;
    max-width: 300px;
    left: -6%;
  }
  .turnkey-solutions__decor--3 {
    max-width: 300px;
    bottom: -11%;
    right: -44%;
  }
}
