.turnkey-solutions__inner {
  margin-bottom: 140px;
  position: relative;
  z-index: 5;
}
.turnkey-solutions__title {
  margin-bottom: 10px;
  line-height: 100%;
}
.turnkey-solutions__title--accent {
  display: block;
  margin-left: 1.2em;
}
.turnkey-solutions__contact-link {
  margin-bottom: 45px;
  margin-left: 10px;
}

/* Slider */

.turnkey-solutions__list {
  margin-bottom: 10px;
  padding: 30px 0;
}

.turnkey-solutions__item {
  display: flex;
  flex-direction: column;

  padding: 49px 32px;
  box-sizing: border-box;
  min-height: 540px;
}
.turnkey-solutions__item-name {
  margin-bottom: 20px;
  margin-right: -15px;

  letter-spacing: 0;
  text-transform: uppercase;
  font-family: "Actay";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;

  color: var(--color-text-3);
}
.turnkey-solutions__item-title {
  margin-bottom: 8px;

  text-transform: uppercase;
  font-family: "Syncopate";
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;

  letter-spacing: -0.01em;

  color: var(--color-text-2);
}
.turnkey-solutions__item-paragraph {
  margin-bottom: auto;

  font-family: "Actay";
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}
.turnkey-solutions__item-duration {
  margin-top: auto;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 100%;
  margin-bottom: 8px;
}

.turnkey-solutions__item-price {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 100%;
}

.turnkey-solutions__item-buy {
  margin-bottom: 8px;
  display: block;
  text-align: center;
  padding: 14px;
  box-sizing: border-box;
  max-width: 226px;
  width: 100%;
  border-radius: var(--border-radius-card);
}
.turnkey-solutions__item-download {
  max-width: 226px;
  width: 100%;
  border-radius: var(--border-radius-card);
}

.turnkey-solutions__slider-arrows {
  justify-content: flex-end;
}
.turnkey-solutions__slider-arrow--prev {
  margin-right: 15px;
}

.turnkey-solutions__slider-arrows .slider-pagination--fraction {
  display: none;
}
/* Decor */
.turnkey-solutions__decor {
  position: absolute;
  z-index: 0;
}
.turnkey-solutions__decor--1 {
  top: -23%;
  left: -11%;
}

.turnkey-solutions__decor--2 {
  bottom: -8%;
  left: -6%;
}
.turnkey-solutions__decor--3 {
  bottom: -55%;
  right: -14%;
}

@media (max-width: 800px) {
  .turnkey-solutions__inner {
    margin-bottom: 96px;
  }
  .turnkey-solutions__item {
    padding: 49px 30px;
    min-height: 360px;
  }
  .turnkey-solutions__item-name {
    margin-bottom: 16px;
    font-size: 14px;
  }
  .turnkey-solutions__item-title {
    font-family: "Actay";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;

    color: var(--color-text-2);
  }
  .turnkey-solutions__item-duration {
    font-size: 14px;
    margin-bottom: 0;
  }
  .turnkey-solutions__item-price {
    font-size: 14px;
  }
  .turnkey-solutions__item-paragraph {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .turnkey-solutions__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .turnkey-solutions__item-price {
    margin-bottom: 0;
  }
  .turnkey-solutions__item-buy {
    order: 5;
    margin-bottom: 0;
    max-width: 100%;
  }
  .turnkey-solutions__item-download {
    margin-bottom: 8px;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .turnkey-solutions__list {
    padding: 30px 0 0 0;
    margin-bottom: 20px;
  }
  .turnkey-solutions__contact-link {
    margin-bottom: 0;
  }
  .turnkey-solutions__slider-arrow--prev {
    margin-right: 0;
  }
  .turnkey-solutions__slider-arrows {
    justify-content: center;
  }
  .turnkey-solutions__slider-arrows .slider-pagination--fraction {
    display: flex;
  }
}
